body {background-color: black;}
body div {
    background-color: white;    
}
.post{
    width:45%;
    margin: auto;
    
}
.header {
    display: flex;
    justify-content: space-between;    
    padding-left: 2%;
    padding-right: 2%;
}
#nombre div {
    display: inline-block;
    vertical-align: middle;
}
#nombre p { margin-left: 15%;}
#bar { margin-top: 4%;}

img {width: 100%;}
#reactions {
    display: flex;
    justify-content: space-between;
}
#bottom {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}
span {font-weight: bold;}
